extends layout

block content
    .challs
        table
            thead
                tr 
                    th ID
                    th Title
                    th Solves
            tbody
                 for meta in metas
                    tr
                        td.id #{meta.id}
                        td.title
                            a(href='/chall/'+meta.id) #{meta.title}
                        td.solves #{meta.solves}