extends layout

block content
    #chall-list.container
        table.chall-table
            thead
                tr
                    th(style="width:10%; font-size: 18px") ID
                    th(style="width:80%; font-size: 18px") Title
                    th(style="width:10%; font-size: 18px") Solves
            tbody
                 for meta in metas
                    tr
                        td.meta #{meta.id}
                        td.meta
                            a(href='/chall/'+meta.id) #{meta.title}
                        td.meta #{meta.solves}