extends layout
block content
    .container
        #desc !{desc}
        .submit
            if solved
                .solved you already solved it
            else
                form.submit-flag(action='/chall/'+cid+'/submit' method='post')
                    input(type='text' name='flag' placeholder='FLAG{...}')
                    button.submit-btn(type='submit') Submit
        if msg
            p=msg