extends layout
block content
    .chall
        div.desc !{desc}
        form.submit-flag(action='/chall/'+id+'/submit' method='post')
            input(type='text' name='flag' placeholder='FLAG{...}')
            button.submit-btn(type='submit') Submit
        if correct==id
            p Great!!
        if incorrect==id
            p WrongFlag...