doctype
html
    head
        meta(charset='UTF-8')
        title=title
        meta(name='viewport' content='width=device-width, user-scalable=no')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        link(rel='stylesheet' href='/main.css')
    body
        .container
            .profile-wrap
                .profile
                    if user && user.id
                        .user-name= 'Hello ' +user.nick
                        .half
                        a#chall.btn(href='/chall') Chall
                        a#logout.btn(href='/auth/logout') Logout
                    else
                        form#login-form(action='/auth/login' method='post')
                            .input-group
                                label(for='email') Email
                                input#email(type='email' name='email' required autofocus)
                            .input-group
                                label(for='password') Password
                                input#password(type='password' name='password' required)
                            if loginError
                                .error-mesage= loginError
                            a#join.btn(href='/join') Join
                            button#login.btn(type='submit') Login
                footer
                    | Made by &nbsp;
                    a(href='https://github.com/hhro' target = '_blank') hhro
            block content