doctype
html
    head
        meta(charset='UTF-8')
        title=title
        meta(name='viewport' content='width=device-width, user-scalable=no')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        link(rel="stylesheet" href="/main.css")
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
    body
        .navbar
            .container
                .navbar-header
                    a.home(href='/') CTF-review
                .navbar-left
                    a#chall.btn(href='/chall') Chall
                .navbar-right
                    if user && user.id
                        a#logout.btn(href='/auth/logout') Logout
                    else
                        a#join.btn(href='/join') Join
                        a#login.btn(href='/login') Login
        block content
        footer
            | Made by &nbsp;
            a(href='https://github.com/hhro' target = '_blank') hhro
        