doctype
html
    head
        meta(charset='UTF-8')
        title=title
        meta(name='viewport' content='width=device-width, user-scalable=no')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        link(rel="stylesheet" href="/main.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto")
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
    body
        .navbar
            .container
                .navbar-header
                    a.home(href='/')
                        img(src='/images/logo-via-logohub.png' height='30px')
                .navbar-left
                    a#chall.btn(href='/chall') Chall
                    a#pwn.btn(href='/pwn') Pwn
                    a#rev.btn(href='/rev') Rev
                    a#web.btn(href='/web') Web
                .navbar-right
                    a#ranking.btn(href='/ranking') Ranking
                    if user && user.id
                        a#user.btn(href='/user/'+user.nick) #{user.nick}
                        a#logout.btn(href='/auth/logout') Logout
                    else
                        a#join.btn(href='/join') Join
                        a#login.btn(href='/login') Login
        block content
        footer
            | Made by &nbsp;
            a(href='https://github.com/hhro' target = '_blank') hhro
        