extends layout
block content
    p#page-banner.container ranking
    .container
        table.rank-table
            thead
                tr
                    th.centerText(style="width:10%; font-size: 18px") Rank
                    th.centerText(style="width:15%; font-size: 18px") User
                    th.centerText(style="width:10%; font-size: 18px") Solves
                    th.centerText(style="width:65%; font-size: 18px") message
            tbody
                if !metas.length
                    tr
                        td
                        td(style="font-size: 20px") No Users Yet!!
                else
                    for meta, rank in metas
                        tr
                            td.meta.centerText #{rank+1}
                            td.meta.centerText 
                                a(href='/user/'+meta.nick) #{meta.nick}
                            td.meta.centerText #{meta.solves}
                            td.meta.centerText #{meta.msg}
                    
        