body{
    font-family: 'Roboto', sans-serif !important;
}

a{
    color:black !important;
    text-decoration: none !important;
}

a:hover{
    color: grey !important;
}

.home{
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
}

.center {
    display: block;
    margin: auto auto;
}

.rank-table,.chall-table{
    width: 100%;
}

.ID, .title, .solves{
    font-size: 18px;
}

.navbar-left, .navbar-right{
    height: 50px;
    padding: 15px 15px;
}

.container{
    width: 750px;
    margin-right: auto;
    margin-left: auto;
}

.meta{
    font-size: 20px;
}

.solved{
    font-size:15px;
    font-weight: bold;
}

.first{
    color: red !important;
}

.second{
    color: green !important;
}

.third{
    color: blue !important;
}

#page-banner{
    text-transform: uppercase;
    font-size:20px;
    color: white;
    background-color: black;
}

footer{
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 12px;
}